:root {
  --base: #1e1e1e;
  --text: #f1f1f1;
}

* {
  font-family: sans-serif;
}

html,
body {
  background: var(--base);
}

button.close {
  background: var(--text);
  color: var(--base);
  font-weight: 600;
  border: 1px solid var(--text);
  border-radius: 0.25rem;
  margin-left: 4rem;
  padding: 0.5rem 1rem;
}

dialog[dialog-model] {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text);
  background: var(--base);
  color: var(--text);
  gap: 4rem;
  -webkit-animation: show 0.3s ease normal;
}

@-webkit-keyframes show {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
