* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #1e1e1e;
}

.toast {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 5rem;
  width: 20rem;
  background: #1e1e1e;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid #f1f1f1;
  transition: 3s ease;
}

.toast.active {
  display: flex;
  transition: 0.3s ease;
}
