.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.2s ease;
}

.switch::after {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  top: 0.1rem;
  left: 0.1rem;
  background-color: white;
  border-radius: 2rem;
  transition: 0.2s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .switch::after {
  translate: 2rem 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: dodgerblue;
}
