* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.top {
  display: grid;
  place-items: center;
}

.top img {
  width: 175px;
}

.wrapper h2 {
  margin: 2.5rem 0 0 0;
}

.btn {
  width: 8rem;
  height: 2.5rem;
  border: none;
  outline: none;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border-radius: 5px;
  cursor: pointer;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.pricing p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 5rem;
}
