*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html,body{
	height: 100%;
	width: 100%;
	background: #1e1e1e;
}

.wrapper{
	height: 100vh;
	width: 100%;
	display: grid;
	place-items: center;
}

.btn{
	height: 3rem;
	width: 8rem;
	border: 1px solid hsl(232 100% 68%);
	background: #1e1e1e;
	color: white;
	transition: 0.3s ease;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover{
	transition: 0.3s ease;
	background: hsl(232 100% 68%);
}
